In [52]:
import pandas as pd
import scipy.stats as stats
import math

## Exercise-1

 The Hypothesis are
 
 H0 : There is no association between the type of smart home device purchased and the customer satisfaction level.
 
 H1 : There is a significant association between the type of smart home device purchased and the customer satisfaction level.

In [57]:
df=pd.DataFrame(data={'Satisfaction':['Very Satisfied','Satisfied','Neutral','Unsatisfied','Very Unsatisfied'],'Smart Thermostat':[50,80,60,30,20],'Smart Light':[70,100,90,50,50]})

In [58]:
df

       Satisfaction  Smart Thermostat  Smart Light
0    Very Satisfied                50           70
1         Satisfied                80          100
2           Neutral                60           90
3       Unsatisfied                30           50
4  Very Unsatisfied                20           50

In [68]:
# To calculate the expected values , we need to calculate row and column totals

In [82]:
# Then by this formula we will get the expected values of each parameter
#For "Very Satisfied" and "Smart Thermostat":
E1_1=(120*240)/600
#For "Very Satisfied" and "Smart Light":
E1_2 =(120*360)/600
#For "Satisfied" and "Smart Thermostat":
E2_1=(180*240)/600
#For "Satisfied" and "Smart Light":
E2_2=(180*360)/600
#For "Neutral" and "Smart Thermostat":
E3_1=(150*240)/600
#For "Neutral" and "Smart Light":
E3_2=(150*360)/600
#For "Unsatisfied" and "Smart Thermostat":
E4_1=(80*240)/600
#For "Unsatisfied" and "Smart Light":
E4_2=(80*360)/600
#For "Very Unsatisfied" and "Smart Thermostat":
E5_1=(70*240)/600
#For "Very Unsatisfied" and "Smart Light":
E5_2=(70*360)/600

In [83]:
E1_1,E1_2,E2_1,E2_2,E3_1,E3_2,E4_1,E4_2,E5_1,E5_2

(48.0, 72.0, 72.0, 108.0, 60.0, 90.0, 32.0, 48.0, 28.0, 42.0)

In [84]:
df_New= pd.DataFrame(data={'Satisfaction':['Very Satisfied','Satisfied','Neutral','Unsatisfied','Very Unsatisfied'],
                           'Smart Thermostat(O)':[50,80,60,30,20],'Smart Thermostat(E)':[48,72,60,32,28],
                           'Smart Light(O)':[70,100,90,50,50],'Smart Light(E)':[72,108,90,48,42]})

In [85]:
df_New

,Satisfaction,Smart Thermostat(O),Smart Thermostat(E),Smart Light(O),Smart Light(E)
0,Very Satisfied,50,48,70,72
1,Satisfied,80,72,100,108
2,Neutral,60,60,90,90
3,Unsatisfied,30,32,50,48
4,Very Unsatisfied,20,28,50,42

In [86]:
# Now we will calculate Chi-Square Statistics for each cells 
#For "Very Satisfied" and "Smart Thermostat":
X1_1=((50-48)**2)/48
#For "Very Satisfied" and "Smart Light":
X1_2 =((70-72)**2)/72
#For "Satisfied" and "Smart Thermostat":
X2_1=((80-72)**2)/72
#For "Satisfied" and "Smart Light":
X2_2=((100-108)**2)/108
#For "Neutral" and "Smart Thermostat":
X3_1=((60-60)**2)/60
#For "Neutral" and "Smart Light":
X3_2=((90-90)**2)/90
#For "Unsatisfied" and "Smart Thermostat":
X4_1=((30-32)**2)/32
#For "Unsatisfied" and "Smart Light":
X4_2=((50-48)**2)/48
#For "Very Unsatisfied" and "Smart Thermostat":
X5_1=((20-28)**2)/28
#For "Very Unsatisfied" and "Smart Light":
X5_2=((50-42)**2)/42

In [87]:
X1_1,X1_2,X2_1,X2_2,X3_1,X3_2,X4_1,X4_2,X5_1,X5_2

(0.08333333333333333,
 0.05555555555555555,
 0.8888888888888888,
 0.5925925925925926,
 0.0,
 0.0,
 0.125,
 0.08333333333333333,
 2.2857142857142856,
 1.5238095238095237)

In [88]:
#Chi-Square statistics is
chi_stats=X1_1+X1_2+X2_1+X2_2+X3_1+X3_2+X4_1+X4_2+X5_1+X5_2
chi_stats

5.638227513227513

In [30]:
# chi-critical value
stats.chi2.ppf(1-0.05,8)

15.50731305586545

## Conclusion

 Since the Chi-Square statistics value is less than Chi-Square critical value, we fail to reject th null hyposthesis(H0)
    
 H0 : There is no association between the type of smart home device purchased and the customer satisfaction level.

## Exercise-2:

In [45]:
#Null Hypothesis (H0): The weekly operating costs follow the theoretical model, W = $1,000 + $5X.
#Alternative Hypothesis (H1): The weekly operating costs are higher than predicted by the theoretical model.

In [46]:
# Given Data
xbar=3050
n=25
std_dev=125
pop_mean=4000

In [34]:
t_stats= ((xbar-pop_mean)*math.sqrt(25))/std_dev
t_stats

-38.0

In [48]:
# Critical Value
stats.norm.ppf(1-0.05)

1.6448536269514722

In [49]:
# From Standard normal distribution table we find the critical value is apporximately -1.645

In [50]:
#Make a Decision:
#Since the calculated test statistic (t = -38) is much smaller (in the negative direction) than the critical value (-1.645),
#we reject the null hypothesis.

In [51]:
## Conclusion:

There is strong evidence to support the restaurant owners' claim that the weekly operating costs are higher than predicted
by the theoretical model.